<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Interview XP</h2>
    <h3>By kshitij kaushik(Netaji Subash University of Technology)</h3>
    <a href="/interview" class="btn">Veiw Interview experience</a>
  </div>
</header>


<%- include('partials/footer'); -%>