<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Pharmeasy</h4>
    <p>The Interview was overall good, question asked where standard</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Tata 1mg</h4>
    <p>The Interview was overall good, question asked where standard</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Google</h4>
    <p>The Interview was overall good, question asked where standard</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>microsoft</h4>
    <p>The Interview was overall good, question asked where standard</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Intuit</h4>
    <p>The Interview was overall good, question asked where standard</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Cisco</h4>
    <p>The Interview was overall good, question asked where standard</p>
  </li>
</ul>

<%- include('partials/footer'); -%>